
h1 {
    color: rgba(148, 114, 212, 0.747);
    font-size: 100px;
}
body {
    font-family: Arial;
    background-color: #fce4eb;
    margin: -1;
    width: 10px;
 /*wanted to format all the images similar */   
}
.image1, .image2, .image3 {
    margin-left: auto;
    margin-right: auto;
    width: 700;
    height: 700;
}
    * {
        font-family: Arial;
       text-align: center;
     }
     
 
 .dress {
    font-family: Arial;
    color: rgb(119, 36, 36);
 
    
     
    
      }

