@font-face {
    font-family: 'DancingScript';
    src: ('../fonts/DancingScript-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KumarOneOutline';
    src: ('../fonts/KumarOneOutline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}