 .content{
    font-family: monospace;
 }
 h2{
     font-family: Times;
     font-size: 26px;
     text-align: center;
 }
 h3{
     font-family: serif;
 }
 h1{
     font-family: 'DancingScript';
 }
