.my-box {
    width: 400;
    height: 300;
    border: 2px solid #eaee11;
    padding: 1em 2em;
    margin: 1em;
    display: inline;
    text-align: center;
    float: center;
}
    a:link {
        color: #f1dd21;
      

     }
.inline-block {
    display: inline-block;
    position: relative;
    text-align: center;
}
.inline-block1 {
    display: inline-block;
    position: relative;
   
}
.inline-block2 {
    display: inline-block;
    position: relative;
   
}
.inline-block3 {
    display: inline-block;
    position: relative;
   
}

* {

text-align: center;
background-color: green;
}