.my-box {
    width: 400;
    height: 300;
    border: 2px solid #eaee11;
    padding: 1em 2em;
    margin: 1em;
      text-align: center;
    float: center;
    background-color: yellow;
}
    a:link {
        color: #f1dd21;
      

     }
    h1 {
        color: #f1dd21;
      

     }
     h2 {
        color: #f1f0e2;
      

     }
.inline-block {
    display: inline-block;
    position: relative;
    text-align: center;
    size: 1;


}

* {

text-align: center;
background-color: green;
}