.inline-block{
    text-align: center;
    background-color: #e0adf5;
    
}
.Welcome-block {
    text-align: center;
    position: relative;
    background-color: #e0adf5;
}
.videos{
    background: #e0adf5;
}