*{
    background: #eacff5;
    text-align: center;
}
.inline-block{
    text-align: center;
    background-color: #eacff5;
    
}
.Welcome-block {
    text-align: center;
    position: relative;
    background-color: #b9c5ee;
}
.videos{
    background: #e0adf5;
}
.contact{
    text-align: center;
}
#contact-info{
    text-align: center;
}